Repository foundryservices/snpOracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml, requirements-txt-fixer

black:
  name: black
  description: Format Python code
  language: system
  entry: black

isort:
  name: isort
  description: Format Python import statements
  language: system
  entry: isort

flake8:
  name: flake8
  description: Enforce PEP8 Python Style Guide
  language: system
  entry: flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

requirements-txt-fixer:
  name: fix requirements.txt
  description: sorts entries in requirements.txt.
  entry: requirements-txt-fixer
  language: system

tensorflow 2.17.0 requires non-overlapping numpy version with bittensor8.5.1, upgraded
  requirements.txt
Due: requirements-txt-fixer

fix yfinance error
  snp_oracle/base_miner/get_data.py
Due: black, isort, flake8, check-ast

update config files to reflect new structure
  miner.config.js
  validator.config.js
Due: none

wandb version incompatible with bittensor8.5 through numpy
  requirements.txt
Due: requirements-txt-fixer

changed dendrite.query to dendrite.forward in miner call
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

undid previous commit
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

Adjust network name case
  README.md
Due: none

Adjust badge display
  README.md
Due: none

suggested changes
  poetry.lock
  pyproject.toml
  snp_oracle/predictionnet/utils/dataset_manager.py
  snp_oracle/predictionnet/utils/miner_hf.py
Due: black, isort, flake8, check-ast, check-toml

Draft individual miner / validator readme instructions
  docs/miners/mainnet.md
  docs/miners/testnet.md
  docs/validators/mainnet.md
  docs/validators/testnet.md
Due: none

Add incentive mechanism white paper to the git repo
  docs/SN28 Incentive Mechanism.pdf
Due: none

Fix miner readme typo
  docs/miners/mainnet.md
Due: none

Add working links to top level readme
  README.md
Due: none

update reward.py
  snp_oracle/predictionnet/validator/reward.py
Due: black, isort, flake8, check-ast

ensure correct yfinance version
  poetry.lock
  pyproject.toml
  snp_oracle/base_miner/get_data.py
  snp_oracle/predictionnet/validator/reward.py
Due: black, isort, flake8, check-ast, check-toml

added Makefile
  Makefile
Due: none

missing \ in makefile
  Makefile
  miner.config.js
  validator.config.js
Due: none

Alter mainnet miner readme
  docs/miners/mainnet.md
Due: none

Rename to a single miners readme
  docs/miners.md
  docs/miners/testnet.md
Due: none

Move logging level in makefile
  Makefile
Due: none

Alter readme links
  README.md
  docs/miners.md
Due: none

Rename validator readme
  docs/validators.md
  docs/validators/testnet.md
Due: none

Adjust custom miner readme instructions
  docs/miners.md
Due: none

Adjust title of validator readme
  docs/validators.md
Due: none

update validator to check file size before saving to disc. Ensure that miner only has to save 1 data file.
  snp_oracle/predictionnet/utils/dataset_manager.py
  snp_oracle/predictionnet/utils/miner_hf.py
  snp_oracle/predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

Explicitly state open sourcing models and input data in the top level readme
  README.md
Due: none

update max file size default
  snp_oracle/predictionnet/utils/dataset_manager.py
Due: black, isort, flake8, check-ast

Update validator instructions
  docs/validators.md
Due: none

Point at staging branch
  README.md
Due: none

Increment version and release notes
  docs/Release Notes.md
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml

include more details about hugging face integration with miner docs
  docs/miners.md
Due: none

fix spacing
  docs/miners.md
Due: none

Update to bittensor 8.5.1
  poetry.lock
  pyproject.toml
Due: check-toml

add branch specific environments to .gitignore
  .gitignore
Due: none

ensure that branch specific venvs are ignored properly
  .gitignore
Due: none

change regex expression for venv ignore
  .gitignore
Due: none

remove version checking in verify function in base miner.py
  snp_oracle/predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

more cr3 updates
  .gitignore
  Makefile
  snp_oracle/neurons/miner.py
  snp_oracle/neurons/validator.py
Due: black, isort, flake8, check-ast

update testnet UID
  Makefile
Due: none

Path conditions:
  black: any of: \.py$, but not: (?x)^(
    .git/.*|
    docs/.*|
    mining_models/.*|
    contrib/.*|
    scripts/.*|
    .venv/.*
)$

  isort: any of: \.py$, but not: (?x)^(
    .git/.*|
    docs/.*|
    mining_models/.*|
    contrib/.*|
    scripts/.*|
    .venv/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .git/.*|
    docs/.*|
    mining_models/.*|
    contrib/.*|
    scripts/.*|
    .venv/.*
)$

  check-ast: any of: \.py$
  check-toml: any of: \.toml$
  requirements-txt-fixer: any of: (requirements|dev_requirements).*\.txt$
