Repository foundryservices/snpOracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      ##########################
      #       FORMATTERS       #
      ##########################
      -   id: black
          name: black
          description: Format Python code
          language: system
          types: [python]
          entry: black
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$
      -   id: isort
          name: isort
          description: Format Python import statements
          language: system
          types: [python]
          entry: isort
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        LINTERS         #
      ##########################
    #   -   id: mypy
    #       name: mypy
    #       description: Enforce correct python type hints
    #       language: system
    #       types: [python]
    #       entry: mypy
      -   id: flake8
          name: flake8
          description: Enforce PEP8 Python Style Guide
          language: system
          types: [python]
          entry: flake8
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        STANDARD        #
      ##########################
      -   id: check-added-large-files
          name: check for added large files
          description: prevents giant files from being committed.
          entry: check-added-large-files
          language: system
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
          args: ['--maxkb=500']
      -   id: check-ast
          name: check python ast
          description: simply checks whether the files parse as valid python.
          entry: check-ast
          language: system
          types: [python]
      -   id: check-merge-conflict
          name: check for merge conflicts
          description: checks for files that contain merge conflict strings.
          entry: check-merge-conflict
          language: system
          types: [text]
      -   id: check-toml
          name: check toml
          description: checks toml files for parseable syntax.
          entry: check-toml
          language: system
          types: [toml]
      -   id: end-of-file-fixer
          name: fix end of files
          description: ensures that a file is either empty, or ends with one newline.
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
      -   id: no-commit-to-branch
          name: "don't commit to branch"
          entry: no-commit-to-branch
          language: system
          pass_filenames: false
          always_run: true
          args: [--branch, main, --branch, dev]
      -   id: requirements-txt-fixer
          name: fix requirements.txt
          description: sorts entries in requirements.txt.
          entry: requirements-txt-fixer
          language: system
          files: (requirements|dev_requirements).*\.txt$
      -   id: trailing-whitespace
          name: trim trailing whitespace
          description: trims trailing whitespace.
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0

update temporary file creation
  predictionnet/utils/miner_hf.py
Due: black, isort, flake8, check-ast

updated dataset manager to use hfapi only
  predictionnet/utils/dataset_manager.py
Due: black, isort, flake8, check-ast

add hotkey to dataset file structure
  predictionnet/utils/dataset_manager.py
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

remove nested folder
  predictionnet/utils/dataset_manager.py
Due: black, isort, flake8, check-ast

changed black
  pyproject.toml
Due: check-toml

generalize the data decryption and upload
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

changed black
  base_miner/model.py
  neurons/miner.py
  neurons/validator.py
  predictionnet/.DS_Store
  predictionnet/__init__.py
  predictionnet/api/get_query_axons.py
  predictionnet/base/miner.py
  predictionnet/base/neuron.py
  predictionnet/base/validator.py
  predictionnet/utils/bittensor.py
  predictionnet/utils/classes.py
  predictionnet/utils/general.py
  predictionnet/utils/huggingface.py
  predictionnet/utils/miner_hf.py
  predictionnet/utils/timestamp.py
  predictionnet/utils/uids.py
  predictionnet/validator/forward.py
  predictionnet/validator/reward.py
  setup.py
  tests/helpers.py
Due: black, isort, flake8, check-ast

Initial Commit
  neurons/validator.py
  predictionnet/base/neuron.py
  predictionnet/base/validator.py
  predictionnet/utils/__init__.py
  predictionnet/utils/bittensor.py
  predictionnet/utils/classes.py
  predictionnet/utils/config.py
  predictionnet/utils/general.py
  predictionnet/utils/huggingface.py
  predictionnet/utils/miner_hf.py
  predictionnet/utils/misc.py
  predictionnet/utils/timestamp.py
  predictionnet/utils/uids.py
  predictionnet/validator/forward.py
  predictionnet/validator/reward.py
  pyproject.toml
Due: black, isort, flake8, check-ast, check-toml

Initial commit
  poetry.lock
  pyproject.toml
Due: check-toml

add back the model confirmation check for scoring miners
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

remove unecessary logs
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

Add better docstrings to miner_hf.py functions
  predictionnet/utils/dataset_manager.py
  predictionnet/utils/miner_hf.py
Due: black, isort, flake8, check-ast

update file type to be parquet
  predictionnet/utils/dataset_manager.py
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

update file type to be parquet
  predictionnet/utils/miner_hf.py
Due: black, isort, flake8, check-ast

update dataset_manager to properly instantiate hf git repo
  predictionnet/utils/dataset_manager.py
Due: black, isort, flake8, check-ast

update forward to check daily for files to upload after market close
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

replace print statemtents with bittensor logging in dataset_manager.py
  predictionnet/utils/dataset_manager.py
Due: black, isort, flake8, check-ast

add unit test for dataset_manager
  tests/unit/test_dataset_manager.py
Due: black, isort, flake8, check-ast

ensure that data upload can scale to 200 plus miners
  poetry.lock
  predictionnet/utils/dataset_manager.py
  predictionnet/validator/forward.py
  pyproject.toml
  tests/helpers.py
  tests/test_template_validator.py
Due: black, isort, flake8, check-ast, check-toml

incorporate data decryption into the reward structure
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

silly mistake
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

improve logging
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

Simplify top level README file
  README.md
Due: none

Add testnet UID to top level README
  README.md
Due: none

Update env template
  .env.template
Due: none

Deleted unused shell scripts
  scripts/check_compatibility.sh
  scripts/check_requirements_changes.sh
  scripts/install_staging.sh
Due: none

Move all python files into a top level package folder
  predictionnet/.DS_Store
  predictionnet/__init__.py
  predictionnet/api/prediction.py
  predictionnet/utils/__init__.py
  predictionnet/validator/__init__.py
  snp_oracle/__init__.py
  snp_oracle/base_miner/__init__.py
  snp_oracle/base_miner/get_data.py
  snp_oracle/base_miner/model.py
  snp_oracle/base_miner/predict.py
  snp_oracle/neurons/__init__.py
  snp_oracle/neurons/miner.py
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/__init__.py
  snp_oracle/predictionnet/api/__init__.py
  snp_oracle/predictionnet/api/example.py
  snp_oracle/predictionnet/api/get_query_axons.py
  snp_oracle/predictionnet/api/metagraph.py
  snp_oracle/predictionnet/api/prediction.py
  snp_oracle/predictionnet/base/__init__.py
  snp_oracle/predictionnet/base/miner.py
  snp_oracle/predictionnet/base/neuron.py
  snp_oracle/predictionnet/base/validator.py
  snp_oracle/predictionnet/protocol.py
  snp_oracle/predictionnet/utils/__init__.py
  snp_oracle/predictionnet/utils/config.py
  snp_oracle/predictionnet/utils/huggingface.py
  snp_oracle/predictionnet/utils/miner_hf.py
  snp_oracle/predictionnet/utils/misc.py
  snp_oracle/predictionnet/utils/uids.py
  snp_oracle/predictionnet/validator/__init__.py
  snp_oracle/predictionnet/validator/forward.py
  snp_oracle/predictionnet/validator/reward.py
Due: black, isort, flake8, check-ast

Remove existing tests and add package version test
  tests/helpers.py
  tests/test_package.py
  tests/test_template_validator.py
Due: black, isort, flake8, check-ast

Adjust github actions to leverage poetry
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Use poetry for dependency management
  poetry.lock
  pyproject.toml
  requirements/dev_requirements.txt
  requirements/requirements.txt
  setup.py
Due: black, isort, flake8, check-ast, check-toml, requirements-txt-fixer

Run pre-commit hooks
  .github/workflows/build.yml
  .github/workflows/ci.yml
  snp_oracle/__init__.py
  snp_oracle/neurons/miner.py
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/__init__.py
  snp_oracle/predictionnet/api/example.py
  snp_oracle/predictionnet/base/neuron.py
  tests/test_package.py
Due: black, isort, flake8, check-ast

Delete unused tests
  tests/helpers.py
  tests/test_template_validator.py
Due: black, isort, flake8, check-ast

Add pytest dependency
  poetry.lock
  pyproject.toml
Due: check-toml

fix poetry error
  poetry.lock
Due: none

fix isort issue
  tests/unit/test_dataset_manager.py
Due: black, isort, flake8, check-ast

fix test imports
  tests/unit/test_dataset_manager.py
Due: black, isort, flake8, check-ast

changed bittensor version to 8.5.1 in requirements.txt
  requirements.txt
Due: requirements-txt-fixer

removed nonce verify function
  predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

ran pre-commit hooks
  predictionnet/base/miner.py
Due: black, isort, flake8, check-ast
