Repository foundryservices/snpOracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      ##########################
      #       FORMATTERS       #
      ##########################
      -   id: black
          name: black
          description: Format Python code
          language: system
          types: [python]
          entry: black
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$
      -   id: isort
          name: isort
          description: Format Python import statements
          language: system
          types: [python]
          entry: isort
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        LINTERS         #
      ##########################
    #   -   id: mypy
    #       name: mypy
    #       description: Enforce correct python type hints
    #       language: system
    #       types: [python]
    #       entry: mypy
      -   id: flake8
          name: flake8
          description: Enforce PEP8 Python Style Guide
          language: system
          types: [python]
          entry: flake8
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        STANDARD        #
      ##########################
      -   id: check-added-large-files
          name: check for added large files
          description: prevents giant files from being committed.
          entry: check-added-large-files
          language: system
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
          args: ['--maxkb=500']
      -   id: check-ast
          name: check python ast
          description: simply checks whether the files parse as valid python.
          entry: check-ast
          language: system
          types: [python]
      -   id: check-merge-conflict
          name: check for merge conflicts
          description: checks for files that contain merge conflict strings.
          entry: check-merge-conflict
          language: system
          types: [text]
      -   id: check-toml
          name: check toml
          description: checks toml files for parseable syntax.
          entry: check-toml
          language: system
          types: [toml]
      -   id: end-of-file-fixer
          name: fix end of files
          description: ensures that a file is either empty, or ends with one newline.
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
      -   id: no-commit-to-branch
          name: "don't commit to branch"
          entry: no-commit-to-branch
          language: system
          pass_filenames: false
          always_run: true
          args: [--branch, main, --branch, dev]
      -   id: requirements-txt-fixer
          name: fix requirements.txt
          description: sorts entries in requirements.txt.
          entry: requirements-txt-fixer
          language: system
          files: (requirements|dev_requirements).*\.txt$
      -   id: trailing-whitespace
          name: trim trailing whitespace
          description: trims trailing whitespace.
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0

Rename to ci and add skipped mypy and tests jobs
  .github/workflows/ci.yml
Due: none

Refactor for cosmetic updates
  .github/workflows/ci.yml
  .github/workflows/reusable_cache.yml
Due: none

Attempt to activate venv without loading cache
  .github/workflows/ci.yml
Due: none

added base miner verify function to utils to handle nonce issues
  snpOracle/utils.py
Due: black, isort, flake8, check-ast

Cleanup and rename stages
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Attempt dynamic naming of the reusable workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

incorporated base neuron and base miner into miner.py
  base_miner/get_data.py
  snpOracle/miners/miner.py
  snpOracle/utils.py
  snpOracle/validators/oracle.py
  snpOracle/validators/validator.py
Due: black, isort, flake8, check-ast

separated miner forward function into miners/forward.py
  snpOracle/miners/forward.py
  snpOracle/miners/miner.py
Due: black, isort, flake8, check-ast

Initial fix
  predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

added the new flag --neuron.disable_verification
  predictionnet/base/miner.py
  predictionnet/utils/config.py
Due: black, isort, flake8, check-ast

re-run black for formatting
  neurons/miner.py
  predictionnet/api/example.py
  predictionnet/api/exporter.py
  predictionnet/base/neuron.py
Due: black, isort, flake8, check-ast

yfinance sometimes doesn't like 'max' as a period argument, changed to 60d
  base_miner/get_data.py
Due: black, isort, flake8, check-ast

added timeout logic to config and verify function
  predictionnet/base/miner.py
  predictionnet/utils/config.py
Due: black, isort, flake8, check-ast

typo
  predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

missing function _to_seconds added
  predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

missing attribute init
  predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

Add GitHub actions to the current release 2.2.0
  docs/Release Notes.md
Due: none

adding start_validator back in
  start_validator.py
Due: black, isort, flake8, check-ast

Run black formatter
  neurons/miner.py
  predictionnet/base/miner.py
  predictionnet/base/neuron.py
Due: black, isort, flake8, check-ast

Pin python 3.11 as the desired default version for running this code
  .gitignore
  .python-version
Due: none

Delete old legacy unused code
  predictionnet/api/exporter.py
Due: black, isort, flake8, check-ast

Remove unused dependencies and add joblib
  requirements.txt
Due: requirements-txt-fixer

These two packages are only referenced in tests
  dev_requirements.txt
  requirements.txt
Due: requirements-txt-fixer

These two packages are only referenced in docs
  dev_requirements.txt
  requirements.txt
Due: requirements-txt-fixer

Update release notes
  docs/Release Notes.md
Due: none

Remove legacy otf workflow
  .circleci/config.yml
Due: none

Move default otf contribution guidelines
  docs/otf_default/contrib/CODE_REVIEW_DOCS.md
  docs/otf_default/contrib/CONTRIBUTING.md
  docs/otf_default/contrib/DEVELOPMENT_WORKFLOW.md
  docs/otf_default/contrib/STYLE.md
Due: none

Move default otf docs
  docs/otf_default/running_on_mainnet.md
  docs/otf_default/running_on_staging.md
  docs/otf_default/running_on_testnet.md
  docs/otf_default/what_are_subnets.md
Due: none

Move default otf tutorial code
  docs/otf_default/stream_tutorial/README.md
  docs/otf_default/stream_tutorial/client.py
  docs/otf_default/stream_tutorial/config.py
  docs/otf_default/stream_tutorial/miner.py
  docs/otf_default/stream_tutorial/protocol.py
Due: check-ast

Remove unused empty file
  .dependencies_installed
Due: none

Remove unused docker files
  Dockerfile
  docker-compose.yml
Due: none

Place requirements in a directory, inspired by bittensor source code
  requirements/dev_requirements.txt
  requirements/requirements.txt
  setup.py
Due: black, isort, flake8, check-ast, requirements-txt-fixer

Move the foundry logo image to docs folder
  README.md
  docs/images/accelerate.png
Due: none

Remove unused json file
  subnet_links.json
Due: none

added logic to use chain_endpoint over network if it is specified
  snpOracle/utils.py
Due: black, isort, flake8, check-ast

removed file
  start_validator.py
Due: black, isort, flake8, check-ast

final touches
  neurons/miner.py
  predictionnet/base/miner.py
  predictionnet/utils/config.py
Due: black, isort, flake8, check-ast

updated release notes
  docs/Release Notes.md
Due: none
