Repository foundryservices/snpOracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      ##########################
      #       FORMATTERS       #
      ##########################
      -   id: black
          name: black
          description: Format Python code
          language: system
          types: [python]
          entry: black
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$
      -   id: isort
          name: isort
          description: Format Python import statements
          language: system
          types: [python]
          entry: isort
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        LINTERS         #
      ##########################
    #   -   id: mypy
    #       name: mypy
    #       description: Enforce correct python type hints
    #       language: system
    #       types: [python]
    #       entry: mypy
      -   id: flake8
          name: flake8
          description: Enforce PEP8 Python Style Guide
          language: system
          types: [python]
          entry: flake8
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        STANDARD        #
      ##########################
      -   id: check-added-large-files
          name: check for added large files
          description: prevents giant files from being committed.
          entry: check-added-large-files
          language: system
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
          args: ['--maxkb=500']
      -   id: check-ast
          name: check python ast
          description: simply checks whether the files parse as valid python.
          entry: check-ast
          language: system
          types: [python]
      -   id: check-merge-conflict
          name: check for merge conflicts
          description: checks for files that contain merge conflict strings.
          entry: check-merge-conflict
          language: system
          types: [text]
      -   id: check-toml
          name: check toml
          description: checks toml files for parseable syntax.
          entry: check-toml
          language: system
          types: [toml]
      -   id: end-of-file-fixer
          name: fix end of files
          description: ensures that a file is either empty, or ends with one newline.
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
      -   id: no-commit-to-branch
          name: "don't commit to branch"
          entry: no-commit-to-branch
          language: system
          pass_filenames: false
          always_run: true
          args: [--branch, main, --branch, dev]
      -   id: requirements-txt-fixer
          name: fix requirements.txt
          description: sorts entries in requirements.txt.
          entry: requirements-txt-fixer
          language: system
          files: (requirements|dev_requirements).*\.txt$
      -   id: trailing-whitespace
          name: trim trailing whitespace
          description: trims trailing whitespace.
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0

update docs with new testnet UID
  README.md
  docs/validators.md
Due: none

forgot one!
  docs/miners.md
Due: none

update model file path on hf
  snp_oracle/neurons/miner.py
Due: black, isort, flake8, check-ast

extra period
  snp_oracle/neurons/miner.py
Due: black, isort, flake8, check-ast

fix collection upload
  snp_oracle/predictionnet/utils/huggingface.py
Due: black, isort, flake8, check-ast

update to upload only data used for the prediction
  snp_oracle/base_miner/predict.py
  snp_oracle/neurons/miner.py
Due: black, isort, flake8, check-ast

update how prediction is passed into synapse
  snp_oracle/neurons/miner.py
Due: black, isort, flake8, check-ast

more fixes
  snp_oracle/neurons/miner.py
Due: black, isort, flake8, check-ast

going back to previous implementation
  snp_oracle/base_miner/predict.py
  snp_oracle/neurons/miner.py
Due: black, isort, flake8, check-ast

only needed files
  .gitignore
  Makefile
  README.md
  docs/miners.md
  docs/validators.md
  poetry.lock
  pyproject.toml
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/base/miner.py
Due: black, isort, flake8, check-ast, check-toml

I lied
  docs/miners.md
Due: none

remove verify fn
  snp_oracle/predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

comment out instead
  snp_oracle/predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

hotfix
  .gitignore
  Makefile
  README.md
  docs/miners.md
  docs/validators.md
  poetry.lock
  pyproject.toml
  snp_oracle/neurons/validator.py
Due: black, isort, flake8, check-ast, check-toml

fix
  Makefile
Due: none

comment out
  snp_oracle/predictionnet/base/miner.py
Due: black, isort, flake8, check-ast

ensure hotkeys match function works
  snp_oracle/predictionnet/utils/huggingface.py
Due: black, isort, flake8, check-ast

Put todays date in release notes
  docs/Release Notes.md
Due: none

Link to registration fee schedule in readme
  docs/miners.md
Due: none

Add CR3 to release notes
  docs/Release Notes.md
Due: none

merged with dev
  predictionnet/utils/__init__.py
  predictionnet/utils/miner_hf.py
  pyproject.toml
Due: black, isort, flake8, check-ast, check-toml

removed depreciated package
  predictionnet/utils/__init__.py
  predictionnet/utils/miner_hf.py
  predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

removed time-management code from forward.py and reward.py
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/base/validator.py
  snp_oracle/predictionnet/utils/bittensor.py
  snp_oracle/predictionnet/utils/timestamp.py
  snp_oracle/predictionnet/utils/uids.py
  snp_oracle/predictionnet/validator/forward.py
  snp_oracle/predictionnet/validator/reward.py
Due: black, isort, flake8, check-ast

pre-commit hooks ran
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/base/validator.py
  snp_oracle/predictionnet/utils/general.py
  snp_oracle/predictionnet/validator/forward.py
  snp_oracle/predictionnet/validator/reward.py
Due: black, isort, flake8, check-ast

data upload is optional
  snp_oracle/predictionnet/utils/config.py
  snp_oracle/predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

forgot commas
  snp_oracle/predictionnet/utils/config.py
Due: black, isort, flake8, check-ast

updates
  snp_oracle/predictionnet/utils/config.py
Due: black, isort, flake8, check-ast

more changes
  docs/validators.md
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

update docs
  docs/validators.md
Due: none

one more update
  docs/validators.md
Due: none

update Makefile
  Makefile
Due: none

precommit hooks
  docs/validators.md
  snp_oracle/neurons/validator.py
  snp_oracle/predictionnet/utils/config.py
  snp_oracle/predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

cleanup
  snp_oracle/predictionnet/validator/forward.py
Due: black, isort, flake8, check-ast

fix tag in vali readme
  docs/validators.md
Due: none

more doc updates
  docs/validators.md
Due: none

add miner and vali specific templates. Add HF_COLLECTION_SLUG to .env.validator.template
  .env.miner.template
  .env.validator.template
  docs/miners.md
  docs/validators.md
Due: none

more docs updates
  Makefile
  docs/validators.md
Due: none

release notes
  docs/Release Notes.md
Due: none

more readme updates
  docs/validators.md
Due: none

update test and project version
  pyproject.toml
  tests/test_package.py
Due: black, isort, flake8, check-ast, check-toml
