Repository foundryservices/snpOracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, check-ast, check-toml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      ##########################
      #       FORMATTERS       #
      ##########################
      -   id: black
          name: black
          description: Format Python code
          language: system
          types: [python]
          entry: black
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$
      -   id: isort
          name: isort
          description: Format Python import statements
          language: system
          types: [python]
          entry: isort
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        LINTERS         #
      ##########################
    #   -   id: mypy
    #       name: mypy
    #       description: Enforce correct python type hints
    #       language: system
    #       types: [python]
    #       entry: mypy
      -   id: flake8
          name: flake8
          description: Enforce PEP8 Python Style Guide
          language: system
          types: [python]
          entry: flake8
          exclude: |
            (?x)^(
                .git/.*|
                docs/.*|
                mining_models/.*|
                contrib/.*|
                scripts/.*|
                .venv/.*
            )$

      ##########################
      #        STANDARD        #
      ##########################
      -   id: check-added-large-files
          name: check for added large files
          description: prevents giant files from being committed.
          entry: check-added-large-files
          language: system
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
          args: ['--maxkb=500']
      -   id: check-ast
          name: check python ast
          description: simply checks whether the files parse as valid python.
          entry: check-ast
          language: system
          types: [python]
      -   id: check-merge-conflict
          name: check for merge conflicts
          description: checks for files that contain merge conflict strings.
          entry: check-merge-conflict
          language: system
          types: [text]
      -   id: check-toml
          name: check toml
          description: checks toml files for parseable syntax.
          entry: check-toml
          language: system
          types: [toml]
      -   id: end-of-file-fixer
          name: fix end of files
          description: ensures that a file is either empty, or ends with one newline.
          entry: end-of-file-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0
      -   id: no-commit-to-branch
          name: "don't commit to branch"
          entry: no-commit-to-branch
          language: system
          pass_filenames: false
          always_run: true
          args: [--branch, main, --branch, dev]
      -   id: requirements-txt-fixer
          name: fix requirements.txt
          description: sorts entries in requirements.txt.
          entry: requirements-txt-fixer
          language: system
          files: (requirements|dev_requirements).*\.txt$
      -   id: trailing-whitespace
          name: trim trailing whitespace
          description: trims trailing whitespace.
          entry: trailing-whitespace-fixer
          language: system
          types: [text]
          stages: [pre-commit, pre-push, manual]
          minimum_pre_commit_version: 3.2.0

typo
  docs/Release Notes.md
Due: none

Increment version number 2.2.1 and provide date
  docs/Release Notes.md
  predictionnet/__init__.py
Due: black, isort, flake8, check-ast

Initial attempt at readme badges
  README.md
Due: none

Draft poetry dependencies to pull into readme badges
  pyproject.toml
Due: check-toml

Remove build syntax from toml file
  pyproject.toml
Due: check-toml

Clean spacing labels and links for badges
  README.md
Due: none

Increase line length to 120
  .flake8
  pyproject.toml
Due: check-toml

Run pre commit on all files
  base_miner/get_data.py
  base_miner/model.py
  neurons/miner.py
  neurons/validator.py
  predictionnet/__init__.py
  predictionnet/api/__init__.py
  predictionnet/api/example.py
  predictionnet/api/get_query_axons.py
  predictionnet/api/prediction.py
  predictionnet/base/miner.py
  predictionnet/base/neuron.py
  predictionnet/base/validator.py
  predictionnet/utils/config.py
  predictionnet/utils/uids.py
  predictionnet/validator/forward.py
  predictionnet/validator/reward.py
  setup.py
  tests/helpers.py
  tests/test_template_validator.py
Due: black, isort, flake8, check-ast

Update release notes
  docs/Release Notes.md
Due: none

Remove links and center the badge table
  README.md
Due: none

Increase table font size
  README.md
Due: none

Display one social link per line
  README.md
Due: none

Make badge text larger
  README.md
Due: none

Make row headers larger
  README.md
Due: none

Make row headers larger yet again, last attempts were not working
  README.md
Due: none

Bold row headers and shrink badges
  README.md
Due: none

Update README.md
  README.md
Due: none

Point compatibility badges at dev branch
  README.md
Due: none

added gitignore
  .flake8
  .gitignore
  .pre-commit-config.yaml
Due: none

fixed gitignore
  .gitignore
Due: none

changed string call to correct package in start_validator
  start_miner.py
  start_validator.py
Due: black, isort, flake8, check-ast

chain_endpoint cannot accept test as a value
  Makefile
Due: none

missing argument after moving loop handler
  oracle/validators/weight_setter.py
Due: black, isort, flake8, check-ast

debug statements
  oracle/validators/weight_setter.py
Due: black, isort, flake8, check-ast

missing dependency, poetry updated
  oracle/utils/__pycache__/timestamp.cpython-310.pyc
  oracle/utils/timestamp.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, check-ast, check-toml

removed depreciated input
  oracle/validators/weight_setter.py
Due: black, isort, flake8, check-ast

removed bad input
  oracle/utils/classes.py
Due: black, isort, flake8, check-ast

missing input
  oracle/validators/reward.py
Due: black, isort, flake8, check-ast

incentive fix
  oracle/utils/general.py
  oracle/validators/reward.py
Due: black, isort, flake8, check-ast

added handling for incorrect prediction lengths
  oracle/validators/reward.py
Due: black, isort, flake8, check-ast

debug statements
  oracle/validators/reward.py
Due: black, isort, flake8, check-ast

added handling for when prediction history is blank
  oracle/validators/reward.py
Due: black, isort, flake8, check-ast

fixed moving average bug
  oracle/validators/reward.py
  oracle/validators/weight_setter.py
Due: black, isort, flake8, check-ast

fixed issue where self.timestamp wasn't updating
  oracle/validators/weight_setter.py
Due: black, isort, flake8, check-ast

changed the url for get_version to snpOracle
  oracle/utils/general.py
Due: black, isort, flake8, check-ast

weight normalization added
  oracle/validators/weight_setter.py
Due: black, isort, flake8, check-ast
